@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Pop;
  src: url(../src/assets/fonts/Poppins/Poppins-Light.ttf);
}

* {
  font-family: Pop;
  font-weight: 500;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

@layer components {
  @media (min-width: theme("screens.sm")) {
    .container {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
  @media (min-width: theme("screens.md")) {
    .container {
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }
  @media (min-width: theme("screens.lg")) {
    .container {
      padding-left: 4rem;
      padding-right: 4rem;
    }
  }
}
